.topnav {
    background-color: blue;
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  img{border-radius: 50%;}

  
  body{ background-color: rgb(255, 0, 0);}